apiVersion: apps/v1
kind: Deployment
metadata:
  name: strapi-app
  namespace: strapi-app
  labels:
    app: strapi-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: strapi-app
  template:
    metadata:
      labels:
        app: strapi-app
    spec:
      containers:
      - name: strapi-app
        image: populardigitalai/strapi-app:latest
        imagePullPolicy: Always
        ports:
        - containerPort: 1337
          protocol: TCP
        resources:
          requests:
            memory: "600Mi"
            cpu: "200m"
          limits:
            memory: "900Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /_health
            port: 1337
          initialDelaySeconds: 120
          periodSeconds: 20
          timeoutSeconds: 5
          failureThreshold: 12
        readinessProbe:
          httpGet:
            path: /_health
            port: 1337
          initialDelaySeconds: 80
          periodSeconds: 10
          timeoutSeconds: 5
          failureThreshold: 12
        envFrom:
          - configMapRef:
              name: strapi-app-config
